beautifulsoup4
gradio_client
matplotlib
optuna
pandas
pip
scikit-learn
spacy
torch
torch-geometric
transformers
nltk

# Install spaCy models separately, for example:
# python -m spacy download en_core_web_md
